@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500&family=Encode+Sans:wght@300&display=swap');


html, body{
    font-family: 'Encode Sans', sans-serif;
}


nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: whitesmoke;
    color: #fff
}






