form{
    display: flex;
    justify-content: center;
    padding: 25px;
}

input{
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
}

#cargarmas{
    display: flex;
    justify-content: center;
    padding: 25px; 
    height: 100px;
}


button{
    width: 20%; 
    height: 40%;
}


body{
    background-color: black;
}


h1{
    color:whitesmoke;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;  
    text-align: center;
    text-transform: uppercase;
}


