nav{
    display: flex;
    background-color: rgb(155, 188, 200);
    align-items: center;
    height: 150px;
    color: rgb(39, 36, 36);
    

}

#links a{
        text-decoration: none;
        margin-right: 20px;
        font-size: 25px;

}

