#contenedor {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  #pelicula {
    width: 50%;
    display: flex;
    gap: 20px;
    color:white;
  }
  
  #pelicula button {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 20px;
    color: rgb(0, 0, 0);
    padding: 5px 10px 20px 10px;
  }

  @media screen and (max-width:320px) {
    #pelicula img{
        width: 100%;
    }
    #pelicula div{
        width: 100%;
    }
    #pelicula{
        display: block;
    }
    #contenedor{
        margin-top: 80px;
    }
}
