.oculto{
    display: none;
}

.mostrar{
    display:block;
}

.unapelicula{
   /*background-color: rgb(141, 147, 160);*/
   background-color: white;
   padding: 7px;
   border-radius:7px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 40px;

}

.unapelicula img{
        width: 342px; 
        height: 513px;
}

.unapelicula h2{
    font-size: 18px;
    text-align: center;

}

#descripcion{
    width: 342px; 
    text-align: center;

}

.info p{
    text-align:center;
    width: 342px;

   
}

.boton{
    width: 80%;
    padding: 10px;
    background: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.botones{
    display:flex;
    justify-content: center;
}
 
@media screen and (max-width:320px) {
    .unapelicula {
        max-width: 220px;
    }
    .unapelicula img {
        max-width: 220px;
    }
    .info p{
        width: 100%;
    
    }

    #descripcion {
        width: 100%;
    }
    
}
