.oculto{
    display: none;
}

.mostrar{
    display:block;
}

.unapelicula{
   /*background-color: rgb(141, 147, 160);*/
   background-color: white;
   padding: 7px;
   border-radius:7px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 40px;
   
}

.unapelicula img{
        width: 342px; 
        height: 513px;
}

.unapelicula h2{
    font-size: 18px;
    text-align: center;

}

#descripcion{
    width: 342px; 
    text-align: center;

}

.info p{
    text-align:center;
    width: 342px;

   
}


 
